/* styles for the message box module */
.daveMessageBox{
   padding: 25px;
   
   border: 1px solid;
   border-radius: 10px;
   
   background: white;
   background-image: linear-gradient(, rgb(233,242,242) 45%, rgb(228,247,247) 73%);
   background-image: -o-linear-gradient(, rgb(233,242,242) 45%, rgb(228,247,247) 73%);
   background-image: -moz-linear-gradient(, rgb(233,242,242) 45%, rgb(228,247,247) 73%);
   background-image: -webkit-linear-gradient(, rgb(233,242,242) 45%, rgb(228,247,247) 73%);
   background-image: -ms-linear-gradient(, rgb(233,242,242) 45%, rgb(228,247,247) 73%);
   background-image: -webkit-gradient(
      linear,
      left top,
      left top,
      color-stop(0.45, rgb(233,242,242)),
      color-stop(0.73, rgb(228,247,247))
   );
   
   overflow: auto;
}
.daveMessageClose{
   position: absolute;
   top: 5px;
   right: 5px;
}
.daveMask{
   background-color: rgba(0, 0, 0, 0.05);
   padding: 0;
   margin: 0;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.davejs-decor-canvas{
  position: relative;
  z-index: 50;
  left: 0;
  top: 0;
}
.davejs-data-canvas{
  position: absolute;
  left: 0;
  top: 0;
}